#spin-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px auto; 
}

#spin-button:hover {
    background-color: #3e8e41;
}

#result {
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
}
body{
    display: flex;
    justify-content: center;
}
.red {
    color: red;
}

.black {
    color: black;
}

.green {
    color: green;
}
